#main {
  width:90%;
  margin:auto;
}

#forum-content .subject {
  position:relative;
  margin:1em;
}

#forum-content .subject span {
  float : right;
  padding:0px 0.5em;
  font-size:0.8em;
}

#forum-content .date {
  color:gray;
}

#forum-content .author {
  font-weight: bold;
}

