body#works #main {
  width:100%;
}

div#citation {
  padding: 0 10px 0 25px;
  text-align: justify;
  font-size: 0.7em;
  height: 15%;
  margin-top:10px;
  background-image: url("citation-mark.gif");
  background-repeat: no-repeat;
}

div#citation span.author {
  display: block;
  text-align: right;
}

#main div#lead {
  border-right: 2px dotted;
  text-align: center;
  width:400px;
  min-height:80%;
  height:100%;
  position:fixed;
  float:none;
  margin-top:0px;
}

div#lead div#traduxio_heading {
  padding-left: 1%;
  padding-right: 1%;
  margin: 1%;
  margin-top:25px;
}

div#lead div#supports {
  position:fixed;
  bottom:45px;
}

#lead .welcome {
  padding-right: 20px;
  font-size: 1.5em;
  text-align: right;
}

div#traduxio-heading > * {
  max-width:400px;
  display:inline-block;
  margin:5px 0;
}

#lead #traduxio_heading img {
  width:100%;
  max-width:269px;
}

#main > *{
  margin-top: 25px;
  float:left;
}

#works-list {
  width: 50%;
  margin: 0;
  margin-left: 420px;
  margin-right:200px;
}

#aside {
  position:fixed;
  right:50px;
}

#works-list li{
  margin-top: 5px;
}

#works-list li a:hover {
  color: grey;
}

#works-list .language, #latests .title {
  font-variant: small-caps;
  margin-top: 15px;
  list-style: none;
  font-size: 22px;
  color: grey;
}

#works-list .author {
  font-variant: normal;
  margin-left: 20px;
  font-size: 16px;
  color: black;
}

#works-list a, #latests li {
  font-size: 14px;
}

.concordance {
  display: none;
}
