div#myworks {
  padding:10px;
}

div#myworks ul {
    padding-left: 0px;
    margin-left: 0px;
}

div#myworks li {
  list-style: none;
}

div#myworks li.work {
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  background-color: #fefefe;
  padding:5px;
  margin: 10px;
}

div#myworks li.work:hover {
  border-color: #ddd;
  background-color: #eee;
}


li.translation {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  padding: 5px;
  margin: 5px;
}

li.translation:hover {
  background-color: #eee;
  border-color: #ddd;
}

span.language {
  font-style: oblique;
}

span.owner, span.title {
  font-style: italic;
}

span.work_creator, span.title {
  font-weight: bold;
}
