#body {
  height: 100%;
}

#main {
  font-family: "Trebuchet MS";
  font-size: 90%;
  top:50%;
  background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, white 5%);
          transform: translateY(-50%);
      -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position:relative;
  padding:0px;
}

#main a {
  color:black;
  text-decoration:underline;
}

#main a:hover {
  color:black;
  text-decoration:none;
}

#top {
  text-align: center;
}

#top .title {
  font-size: 400%;
  font-weight: 600;
  display: inline-block;
  margin-right: 30px;
}

#top .subtitle {
  text-align: justify;
  font-size: 125%;
  display: inline-block;
  width: 420px;
  position: relative;
  margin-left: 25px;
}

#middle {
  text-align: center;
}

#middle .panel {
  vertical-align: text-top;
  text-align: left;
  width: 45%;
  display: inline-block;
  margin: 20px;
  max-height: 400px;
  max-width: 600px;
}

#middle .panel p {
  text-align: justify;
}

#middle .panel img {
  width: 128px;
  height: 128px;
  float: left;
}

#bottom {
  text-align: center;
  height: 32px;
}

#bottom a.start {
    font-size: 18px;
    border: 3px black solid;
    padding: 0 6px;
    box-shadow: 3px 3px 0 black;
    text-decoration: none;
    color: black;
}

#bottom a.start:hover {
    box-shadow: 5px 5px 10px black;
    font-size: 19px;
}
