<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="{{i18n.lang}}">
<head>
  <title>{{page_title}} — TraduXio</title>
  <script>var i18n={};
  {{#i18n.str}}i18n={{{i18n.str}}};{{/i18n.str}}
  </script>
  <link rel="stylesheet" href="{{prefix}}/shared/css/traduxio.css" type="text/css" />
  {{#css}}
  <link rel="stylesheet" href="{{prefix}}/shared/css/{{name}}.css" type="text/css" />
  {{/css}}
  <script src="{{prefix}}/shared/js/jquery.js"></script>
  <script src="{{prefix}}/shared/js/traduxio.js"></script>
  <script src="{{prefix}}/shared/js/login.js"></script>
  {{#script}}
  <script type="text/javascript" src="{{prefix}}/shared/js/{{name}}.js"></script>
  {{/script}}
  {{#scripts}}
  <script type="text/javascript" src="{{prefix}}/shared/js/{{.}}.js"></script>
  {{/scripts}}
  <!--[if lt IE 7]>
  <style media="screen" type="text/css">
  body {
    height:100%;
  }
  </style>
  <![endif]-->
</head>
<body {{#name}}id="{{name}}"{{/name}} data-prefix="{{prefix}}" data-query="{{query}}" {{#seq}}data-seq="{{seq}}"{{/seq}}>
  <div id="body">
    <div id="header" class="group">
      {{#i18n}}
      <ul id="nav" data-i_search="{{i_search}}">
        <li class="work works license"><a href="{{prefix}}/works/">{{i_works}}</a></li>
        <li class="myworks"><a href="#">{{i_my_translations}}</a></li>
        <li class="concordance"><a href="{{prefix}}/works/concordance">{{i_concordance}}</a></li>
      </ul>
      <div id="session-info"></div>
      {{/i18n}}
      <form class="concordance"></form>
    </div>
    <div id="main" class="group">
