<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head><meta charset="utf-8"/>
<title>IATIS Conference 2018</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1 class="title">
  <img src="conference_logo-01.jpg" class="right"/>
  <img src="iatis.jpg" class="left" />

  6th IATIS Conference<br/>
  第六屆國際翻譯與跨文化研究協會國際會議</h1>

<h2 class="venue">Hong Kong, July 2018<br/>
  香港    2018年7月</h2>

<h2 class="topic">Translation and Cultural Mobility<br/>
  翻譯與文化流動</h2>

<h2 class="subtitle">Abstracts organized by name of the author (in alphabetic order)<br/>
  論文摘要 (按作者英文姓名順序排列)</h2>

<h2 class="note">Work in progress<br/>
翻譯初稿 (整理中)</h2>
<!--Table of contents-->
<div class="toc">
{{#each docs}}
  <div class="article-toc" id="toc-{{ref}}"><a href="#art-{{ref}}">{{author}} - {{title}}</a></div>
{{/each}}
</div>


<!--Abstracts-->
{{#each docs}}
  <article id="art-{{ref}}">
  <div class="header">
    <a class="gototop" href="#toc-{{ref}}">&lt;-</a>
    <div class="author">{{author}}</div>
    <div class="title">{{title}}</div>
    {{#translated_title}}<div class="translated_title">{{.}}</div>{{/translated_title}}
    <div class="category">{{category}}</div>
    {{#panel}}<div class="panel">{{.}}</div>{{/panel}}
  </div>
  <div class="version translation">
    <div class="keywords">{{translated_keywords}}</div>
    <div class="abstract">{{translated_abstract}}</div>
    <div class="translation_details">
      {{#translator}}<div class="translator">{{.}}</div>{{/translator}}
      {{#revisors}}<div class="revisors">{{.}}</div>{{/revisors}}
      <div class="translation_status">{{translation_status}}</div>
    </div>
  </div>
  </article>
{{/each}}
</body>
</html>
