{{>header}}
<div id="forum-content">
<h1><a href="{{prefix-correction}}../{{work.id}}">{{work.creator}} - {{work.title}}</a></h1>

<a href="{{prefix_correction}}forum/new">Nouveau sujet</a>
{{#subjects}}
<div class="subject">
  <a href="{{prefix_correction}}forum/{{link}}">{{subject}}</a> 
  <span class="date"><a href="forum/{{link}}#{{last_index}}">{{last_message.when}}</a></span>
  <span class="author">{{last_message.author}}</span>
  <span>Dernier message :</span>
  <span class="count">{{count}} messages</span>
</div>
{{/subjects}}
</div>
{{>footer}}
