{{>header}}
{{#i18n}}
<div id="myworks">
  {{i_my_translations}}
  <ul class="works">
  {{#works}}
    <li class="work">
      <div class="work-details">
      {{#work_creator}}{{work_creator}}{{/work_creator}}
      {{^work_creator}}{{i_no_author}}{{/work_creator}}
      -
      {{#title}}{{title}}{{/title}}
      {{^title}}{{i_no_title}}{{/title}}
      <br/>
      {{privileges.owner}}
      <br/>
      <span class="language">{{language}}</span>
      </div>
      <ul class="translations">
      {{#translations}}
        <li class="translation">
          {{version}}<br/>
          {{work_creator}}
          <br/>
          {{title}}
          <br/>
          {{privileges.owner}} {{last_edit}}

        </li>
      {{/translations}}
      </ul>
    </li>
  {{/works}}
  </ul>
</div>
{{/i18n}}
{{>footer}}
