{{>header}}
<div id="lead">
  <div id="traduxio_heading">
    <img src="{{prefix}}/shared/traduxio_home_logo.jpg" alt="TraduXio Home Logo" />
    <div id="citation"><span class="quote"></span><span class="author"></span></div>
    <div class="welcome">Traduction participative de textes culturels</div>
  </div>
  <div id="supports"><img src="{{prefix}}/shared/Anna_Lindh_Foundation-logo7.png"><img src="{{prefix}}/shared/Commission_europeenne-logo8.png"></div>
</div>
<div id="works-list">
	<ul>
	  {{#languages}}
		<li class="language"><span class="language expand" data-id="{{code}}">{{^code}}<i>Pas de language</i>{{/code}}{{code}}</span>
		<ul>
		  {{#authors}}
			<li class="author foldable closed">{{name}}
			<ul>
			  {{#works}}
				<li><a href="{{id}}">{{^name}}<i>Pas de titre</i>{{/name}}{{name}}</a></li>
			  {{/works}}
			</ul>
			</li>
		  {{/authors}}
		</ul>
		</li>
	  {{/languages}}
	</ul>
</div>
<div id="aside">
  <a href="new">Ajouter une oeuvre</a>
</div>
{{>footer}}
