h1, h2 {
  text-align: center;
  margin: auto;
  padding:5px;
  page-break-inside: avoid;
}

h1.title {
  color:#339966;
  font-variant: small-caps;
}

h1.title img {
  height: 6em;
}

h1.title img.left {
  float: left;
}

h1.title img.right {
  float: right;
}

h2.venue {
  font-weight: normal;
  font-size: 1.5em;
}

h2.note {
  font-size:1em;
}

h2.topic {
  color:#003399;
}

h2.subtitle {
  font-variant: small-caps;
  background-color: #003399;
  color:#fff;
  width:90%;
  text-align: center;
  border: solid 1px #000;
  clear: both;
}

div.toc {
  width:100%;
  margin: auto;
  padding-top: 20px;
  page-break-after: always;
}

div.article-toc {
  line-height: 1.4em;
  font-size: 0.9em;
  text-indent: -2em;
  padding-left: 2em;
}

a {
  color: black;
  text-decoration: none;
}

article {
    padding: 1em;
    width:100%;
    clear:both;
    page-break-inside: avoid;
}

div.version {
    padding: 0.5em;
    width: 95%;
    text-align: justify;
    margin: auto;
}

div.version div {
  margin-top:0.5em;
}

div.keywords {
  font-style: italic;
}

div.title {
  font-weight: bold;
}

div.author {
  font-weight: bold;
  font-style: italic;
}

a.gototop {
    float:right;
}

div.header {
  width:98%;
  border:1px solid;
  background-color:#ececfa;
  text-align: center;
  margin: auto;
}

div.translation_details {
  font-size:80%;
}

div.translation_details div {
  display: inline-block;
}

div.translator::before {
  content: "Translated by : ";
}

div.translation_status {
  font-style: italic;
}

div.translation_status::before {
  content: " - Status : ";
  font-style: italic;
}

div.revisors {
  font-style: italic;
}

div.revisors::before {
  content: " - Revised by : ";
  font-style: italic;
}
